html {
    background-color: #245;
}

.error {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48,48,48,0.4);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.error-center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f88;
}

.lookup {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48,48,48,0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.lookup-center {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #88f;
}

@keyframes changewidth {
  from {
    border-radius: 0;
  }

  to {
    border-radius: 50%;
  }
}

.lookup-anim {
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 1rem;
    height: 1rem;
    background-color: #88f;
    margin-right: 0.5rem;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.heading {
    color: #0b0;
    background-color: #333;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 0px 3px 5px 1px #000;
}

.heading h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heading input {
    font-size: 1.5rem;
    min-width: 20rem;
    width: 40vmin;
    background-color: #333;
    border-style: inset;
    border-color: #888;
    color: #0b0;
    margin-right: 0.5rem;
}

.heading button {
    font-size: 2rem;
    background-color: #383;
    color: black;
    border-radius: 0.5rem;
    border: 0;
}

.heading input::placeholder {
    font-size: 2rem;
    width: 40rem;
    background-color: #333;
    border-style: inset;
    border-color: #888;
    color: #383;
}

.body {
    display: flex;
    position: relative;
    flex-direction: row;
}

.other-versions {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 0px 3px 5px 1px #000;
    padding: 0.5rem;
    min-height: 25rem;
    background-color: #333;
    color: #0b0;
}

.other-versions h2 {
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.other-versions a {
    display: flex;
    position: relative;
    color: #5e5;
}

.other-versions a:alink {
    color: #7f7;
}

.other-versions a:vlink {
    color: #6f6;
}

.analysis-container {
    display: flex;
    position: relative;
    margin: 1rem;
    flex-direction: column;
    box-shadow: 0px 3px 5px 1px #000;
    padding: 0.5rem;
    background-color: #333;
    color: #0b0;
    min-width: 50rem;
    min-height: 25rem;
}

.analysis {
    display: flex;
    position: relative;
    overflow: auto;
    min-height: 100%;
}

.analysis-container h2 {
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.analysis-row {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: #333;
    border: 1px solid #0b0;
}

.analysis-column {
    display: flex;
    position: relative;
    flex-direction: column;
}

.window-frame {
    position: absolute;
    display: flex;
    background-color: rgba(150,190,190,0.6);
    border: 3px inset rgba(150,190,190,0.6);
    flex-direction: column;
    box-sizing: border-box;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: -moz-linear-gradient(top,  rgba(122,188,255,0.6) 0%, rgba(96,171,248,0.6) 44%, rgba(64,150,238,0.6) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,188,255,0.6) 0%,rgba(96,171,248,0.6) 44%,rgba(64,150,238,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,188,255,0.6) 0%,rgba(96,171,248,0.6) 44%,rgba(64,150,238,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.window-title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(75,95,95,0.7);
}

.window-resize {
    position: absolute;
    background-color: rgba(75,95,95,0.7);
    width: 30px;
    height: 30px;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.window-resize:after {
    font-size: 30px;
    margin: 1px;
    line-height: 30px;
    content: "\2629";
}

.window-body {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.window-mouse-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 1000000;
}
